$breakpoints: (
  "phone":          400px,
  "phone-wide":     480px,
  "phablet":        560px,
  "tablet-small":   640px,
  "almost-tablet":  744px,
  "tablet":         768px,
  "tablet-big":     950px,
  "tablet-wide":    1024px,
  "desktop-small":  1128px,
  "desktop":        1248px,
  "desktop-wide":   1440px,
  "desktop-hd":     1920px
);

  $primary : #0066cc;
  $secondary : #0059b3;
  $black : #000;
  $grey : #abb8c3;
  $white : #fff;
  $green : #23a036;
  $orange : #ff9e2d;
  $yellow : #ffcb2d;
  $red : #f24545;